.vscode/
*.cache
__pycache__
venv
*.egg-info
dist/*
build/*
.idea/*

# iPython Notebook files
.ipynb_checkpoints/
*.ipynb

# ignore credentials files/or environment variables
*.logs
secrets.toml

# custom project ignored files/folders
experimental/